<div class="hero">
  <h1>About Us</h1>
 </div>
<body>
  <main>
    <section class="about-section">
      <div class="about-content">
        <h2>Welcome to Famazon</h2>
        <p>Famazon is not just an e-commerce platform; it's a journey, a community, and an experience.</p>
        <p>Our story began with a simple idea: to bring joy, convenience, and inspiration to people's lives through our products.</p>
        <p>With a curated selection of the finest products from around the world, we strive to offer something for everyone, whether you're a seasoned shopper or just starting your e-commerce journey.</p>
        <p>At Famazon, we believe in the power of connection. That's why we're not just a store; we're a family. Join us on this adventure as we explore new horizons and create memories together.</p>
      </div>
    </section>
    <div class="team-section">
        <h2 class="about-header">Meet Our Team</h2>
    <section class="row row-cols-3">
        <div class="team-member">
          <img src="../../assets/img/ceo.jpg" alt="Team Member 1">
          <h3>Jane Doe</h3>
          <p>Founder & CEO</p>
        </div>
        <div class="team-member">
          <img src="../../assets/img/ceo1.jpg" alt="Team Member 2">
          <h3>John Smith</h3>
          <p>Head of Marketing</p>
        </div>
        <div class="team-member">
          <img src="../../assets/img/ceo2.jpg" alt="Team Member 3">
          <h3>Michaela Johnson</h3>
          <p>Chief Technology Officer</p>
        </div>
    </section>
    </div>
  </main>
</body>

