<section class="hero">
  <h2>Welcome to Our Store</h2>
  <a routerLink="/products" class="btn btn-success">Shop Now</a>
</section>
<section class="featProd">
  <h2>Shop by Category</h2>
  <a class="catLink" href="#">
    <div class="row row-cols-3">
      <div class="catCard" *ngFor="let category of categories; index as id">
        <div class="card" style="width: 18rem;">
          <img src="" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">{{category.name}}</h5>
              </div>
          </div>
    </div>
    </div>
  </a>
</section>